#icon {
	font-size: 50px;
}

#content {
	margin: auto;
	width: 75%;
	text-align: center;
	align-items: center;
}

#inputForm {
	background-color: green;
	border: 1px solid green;
	border-radius: 5px;
	padding: 5px;
	font-weight: bold;
	color: white;
}

button {
	background-color: #007aff;
	border: 1px solid black;
	border-radius: 3px;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: bold;
	color: white;
	font-size: medium;
}

#units {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: lightgreen;
	border: 1px solid lightgreen;
}

#loader {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	margin: -76px 0 0 -76px;
	border: 16px solid #f3f3f3;
	border-top: 16px solid #3498db;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0;
	}
	to {
		bottom: 0px;
		opacity: 1;
	}
}

@keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0;
	}
	to {
		bottom: 0;
		opacity: 1;
	}
}

#weatherDisplay {
	display: none;
}
