#icon {
	font-size: 100px;
}

#content {
	margin: auto;
	width: 75%;
	text-align: center;
	align-items: center;
	padding-bottom: 2.5rem;
}

#inputForm {
	margin-top: 3%;
	background-color: #1e88e5;
	border: 1px solid #1e88e5;
	border-radius: 5px;
	padding: 20px;
	font-size: large;
	font-weight: bold;
	color: #ffffff;
}

#weatherDisplay {
	display: none;
}

#location {
	font-size: large;
}

button {
	background-color: #ff5722;
	border: 1px solid #ff5722;
	border-radius: 3px;
	padding: 15px, 20px;
	font-weight: bold;
	color: #ffffff;
	font-size: medium;
}

#units {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

#footer {
	position: absolute;
	bottom: 0;
	height: 2.5rem;
}

#github {
	color: inherit;
}

#loader {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	margin: -76px 0 0 -76px;
	border: 16px solid #f3f3f3;
	border-top: 16px solid #005cb2;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0;
	}
	to {
		bottom: 0px;
		opacity: 1;
	}
}

@keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0;
	}
	to {
		bottom: 0;
		opacity: 1;
	}
}
